// GetId ...
func (j *{state}) GetId() string { return *j.Id }

// GetName ...
func (j *{state}) GetName() string { return *j.Name }

// GetType ...
func (j *{state}) GetType() string { return *j.Type }

// GetType ...
func (j *{state}) GetStart() Start { return *j.Start }

// GetStateDataFilter ...
func (j *{state}) GetStateDataFilter() Statedatafilter { return *j.StateDataFilter }

// GetDataInputSchema ...
func (j *{state}) GetDataInputSchema() string { return *j.DataInputSchema }

// GetDataOutputSchema ...
func (j *{state}) GetDataOutputSchema() string { return *j.DataOutputSchema }

// GetMetadata ...
func (j *{state}) GetMetadata() Metadata_1 { return j.Metadata }
